@model ProvaBackEndFelipeB.Models.Funcionario

@{
    ViewData["Title"] = "Delete";
}


<div>
    <h4 class="lista-title">DELETAR</h4>
    <hr />
    <dl class="row infos-func">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cargo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="DELETAR" class="btn btn-danger" /> |
        <a asp-action="Index" class="back-list">Voltar para a lista</a>
    </form>
</div>
