@model IEnumerable<ProvaBackEndFelipeB.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<h1 class="lista-title">lista de funcionários</h1>

<p class="btn-cadastro-container">
    <a asp-action="Create" class="btn-cadastro-lista">Cadastrar Novo Funcionário</a>
</p>
<table class="table table-funcionarios" id="table-func">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-action-list">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-action-list">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn-action-list btn-delete">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
